[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/stephanieerven/MADlibs.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/stephanieerven/electricDreams.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/stephanieerven/jqueryFAQ.git
[submodule "slider"]
	path = slider
	url = https://github.com/stephanieerven/slider.git
[submodule "lightbox"]
	path = lightbox
	url = https://github.com/stephanieerven/lightbox.git
