[submodule "MADlibs"]
	path = MADlibs
	url = https://github.com/stephanieerven/MADlibs.git
[submodule "electricDreams"]
	path = electricDreams
	url = https://github.com/stephanieerven/electricDreams.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/stephanieerven/jqueryFAQ.git
